<h1>Add a post</h1>
{{! the enctype is needed for the form to be able to send files }}
<form action="/post-form" method="POST" enctype="multipart/form-data">
  <label for="">Title: </label>
  <input type="text" name="title" />

  <label for="">Content: </label>
  <input type="text" name="content" />

  <label for="">Picture: </label>
  <input type="file" name="img" />

  <button type="submit">Add this post</button>
</form>